sudo: false
language: php
jobs:
  include:
    - php: 5.4
    - php: 5.5
    - php: 5.6
    - php: 7.0
    - php: 7.1
    - php: 7.2
    - php: 7.3
before_script:
  - composer install
script: vendor/bin/phpunit
