name: PHP Composer

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        php-version: [7.4, 8.0, 8.3, 8.4]

    steps:
      - uses: actions/checkout@v3

      - name: Set up PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}
          extensions: mbstring, intl, pdo
          coverage: none

      - name: Validate composer.json and composer.lock
        run: composer validate --strict

      - name: Cache Composer packages
        id: composer-cache
        uses: actions/cache@v3
        with:
          path: vendor
          key: ${{ runner.os }}-php-${{ matrix.php-version }}-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-php-${{ matrix.php-version }}-

      - name: Install dependencies
        run: |
          VERSION=${{ matrix.php-version }}
          if [[ "$VERSION" == 7.* || "$VERSION" == 8.0 || "$VERSION" == 8.1 || "$VERSION" == 8.2 || "$VERSION" == 8.3 ]]; then
            composer install --prefer-dist --no-progress --ignore-platform-reqs
          else
            composer install --prefer-dist --no-progress
          fi

      - name: Run test suite (PHPUnit)
        run: composer run-script test

      - name: Run PHP-CS-Fixer
        if: ${{ matrix.php-version == '8.3' }}
        run: composer run-script fixer

      - name: Run Psalm
        if: ${{ matrix.php-version == '8.3' }}
        run: composer run-script psalm
